# Dependencies
node_modules/

# Build outputs
/dist/
/build/

# Expo
.expo/
.expo-shared/
web-build/

# Env
.env
.env.*
apps/*/.env
apps/*/.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
Thumbs.db
